<!--<div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Attendance</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['/home']">Home</a></li>
					<li><a [routerLink]="['/employee']">Employee</a></li>
					<li><a [routerLink]="['/sidenav']">Side Nav</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-start body-content">
		<router-outlet></router-outlet>
		<hr />
		<footer>
			<p>&copy; 2016 - Angular 2.0 Application</p>
		</footer>
	</div>
</div>-->

<!--Top Navigation-->
<div id="container-wrapper">
	<!--<header class="mainheader" [@OnCollapsed]="mSidebarStatus">

		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<ul class="nav navbar-items navbar-right">
                <li>
                    <span class="text-muted">Welcome {{mUserName}}</span>
                </li>
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-success label-notification">16</span>
                    </a>
				</li>
				<li>
                    <a class="dropdown-toggle count-info" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-danger label-notification">8</span>
                    </a>
				</li>
				<li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
				</li>
			</ul>
		</nav>
	</header>-->

	<!--Top Bar-->
	<topbar [InToggleMode]="mSidebarStatus">Loading Topbar Panel...</topbar>

	<!--Side Bar-->
	<sidebar (OnToggleMode)="_OnGetSidebarToggle($event)">Loading Sidebar Panel...</sidebar>

	<!--Router Link-->
	<content [InToggleMode]="mSidebarStatus">Loading Content Panel...</content>
</div>