<!--<div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Attendance</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['/home']">Home</a></li>
					<li><a [routerLink]="['/employee']">Employee</a></li>
					<li><a [routerLink]="['/sidenav']">Side Nav</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-start body-content">
		<router-outlet></router-outlet>
		<hr />
		<footer>
			<p>&copy; 2016 - Angular 2.0 Application</p>
		</footer>
	</div>
</div>-->

<!--Top Navigation-->
<header>

</header>

<div class="content-area">
	<!--Left Side Bar-->
	<div class="navbar-default content-sidebar" [ngClass]="{'content-sidebar-extend': mToggleFlag,
											 				'content-sidebar-collapse': !mToggleFlag}">

		<ul class="nav">
			<li class="nav-header">
				<span class="user-image">
					<img alt="image" class="img-circle" src="contents/img/user3-128x128.jpg" />
					<span class="label label-success">{{mStatus}}</span>
				</span>
				<span class="clear">
					<span class="block m-t-xs">
						<strong class="font-bold font-color">
							Arrian Pascual
						</strong>
					</span>
					<span class="text-muted block">
					</span>
				</span>
					
				<span dropdown class="dropdown">
					<a href="#" id="simple-dropdown" dropdownToggle>
						Software Developer
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
						<li ><a href="profile.html">Profile</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li><a href="mailbox.html">Mailbox</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
				</span>
			</li>
			<li class="active">
				<a [routerLink]="['/home']"><i class="fa fa-home fa-lg"></i> <span class="nav-label">Home</span> <span class="label label-primary pull-right">NEW</span></a>
			</li>
			<li>
				<a [routerLink]="['/employee']"><i class="fa fa-apple fa-lg"></i> <span class="nav-label">Employee</span> <span class="label label-primary pull-right">NEW</span></a>
			</li>
		</ul>
	</div>

	<!--Navigation Panel-->
	<div class="content-main" [ngClass]="{'content-main-collapse': mToggleFlag,
										  'content-main-extend': !mToggleFlag}">

		<div class="content-header">
			<h1>
				<span style="font-size:30px;cursor:pointer" (click)="OnToggleSidebarEvent()">&#9776; Toggle Sidebar</span>
				<small>Toggle this to remove sidebar</small>
			</h1>
		</div>

		<div class="content-value">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>