<!--<div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Attendance</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['/home']">Home</a></li>
					<li><a [routerLink]="['/employee']">Employee</a></li>
					<li><a [routerLink]="['/sidenav']">Side Nav</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-start body-content">
		<router-outlet></router-outlet>
		<hr />
		<footer>
			<p>&copy; 2016 - Angular 2.0 Application</p>
		</footer>
	</div>
</div>-->

<div class="content-main">
	<side-bar class="content-sidebar" [iToggleFlag]="mToggleSidebar">This is side nav</side-bar>

	<div class="content-wrapper">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn btn-success btn-sm" (click)="mToggleSidebar = !mToggleSidebar">Toggle SideBar</button>
			</div>
			<div class="panel-body">
				This is panel data
			</div>
		</div>
	</div>
</div>