<!--SideBar Panel-->
<aside class="main-sidebar" role="navigation">

	<section class="sidebar">

		<!--User Information Panel-->
		<div class="user-panel">
			<div class="user-image">
				<!--<img src="contents/img/user3-128x128.jpg" alt="User Image">-->
				<ng-content class="user-image" select="[user-image]"></ng-content>
			</div>
			<div class="user-info">
				<ng-content class="user-info" select="[user-info]"></ng-content>
				<!--<p>Arrian Pascual</p>
				<a href="#"><i class="fa text-success"></i> Online</a>-->
			</div>
		</div>

		<!--SideBar Items-->
		<ul class="list-group panel">
			<ng-content select="[content-value]"></ng-content>
			<li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
			<li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>
			<li class="list-group-item"><a [routerLink]="['/home']"><i class="glyphicon glyphicon-home"></i>Dashboard </a></li>
			<li class="list-group-item"><a [routerLink]="['/employee']"><i class="glyphicon glyphicon-circle-arrow-up"></i>Employee </a></li>
		</ul>
	</section>
</aside>
