<!--SideBar Panel-->
<aside *ngIf="iToggleFlag" class="main-sidebar" role="navigation">

	<section class="sidebar">

		<!--User Information Panel-->
		<div class="user-panel">
			<div class="user-image">
				<img src="contents/img/user3-128x128.jpg" alt="User Image">
			</div>
			<div class="user-info">
				<p>Arrian Pascual</p>
				<a href="#"><i class="fa text-success"></i> Online</a>
			</div>
		</div>

		<!--SideBar Items-->
		<ul class="list-group panel">
			<li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
			<li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>
			<li class="list-group-item"><a href="index.html"><i class="glyphicon glyphicon-home"></i>Dashboard </a></li>
		</ul>
	</section>
</aside>
