<header class="topbar-container">
	<!--<div class="topbar-user">
		<a href="login.html">
			<i class="fa fa-sign-out"></i> Log out
		</a>
	</div>-->

	<ul class="topbar-menu">
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-success label-notification">16</span>
                    </a>
				</li>
				<li>
                    <a class="dropdown-toggle count-info" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-danger label-notification">8</span>
                    </a>
				</li>
	</ul>
</header>