// Body
body {
  font-family: @body-font-family;
  font-size: @body-font-size;
  overflow-x: hidden;
}

// Footer
footer {
  position: fixed;
}

.font-bold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.font-color-white {
  color: white;
}

.font-color-black {
  color: black;
}

.text-uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

.label-notification {
  line-height: 12px;
  position: absolute;
  left: 50%;
  top: 2px;
}

#container-wrapper {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
}