// Top Navigation
@mainheader-width: 100%;
@mainheader-height: 50px;
@mainheader-bg-color: #676a6c;

// Side Bar
@sidebar-width: 220px;
@sidebar-height: 100%;
@sidebar-bg-color: #2f4050;
@sidebar-bc-color: #2f4050;
@sidebar-color: white;

// Mini Sidebar
@mini-sidebar-width: 70px;
@mini-sidebar-height: 100%;
@mini-sidebar-bg-color: #2f4050;
@mini-sidebar-bc-color: #2f4050;
@mini-sidebar-color: white;

// Section (Content)
@section-width: 100%;
@section-height: 100%;

// Body
@body-font-size: 13px;
@body-font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@body-color: #676a6c;