// Top Navigation
@header-width: 100%;
@header-height: 50px;
@header-bg-color: #676a6c;

// Side Bar
@aside-width: 220px;
@aside-height: 100%;
@aside-bg-color: #2f4050;
@aside-bc-color: #2f4050;
@aside-color: white;

// Section (Content)
@section-width: 100%;
@section-height: 100%;

// Body
@body-font-size: 13px;
@body-font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@body-color: #676a6c;