// Side Bar
.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: @sidebar-width;
	height: @sidebar-height;
	margin: 0;
	font-size: 12px;
	font-weight: 200;
	transition: 0.5s;
	background-color: @sidebar-bg-color;
	color: @sidebar-color;
	.nav {
		> li.nav-header {
			padding: 33px 25px;
			font-size: 12px;
			background: url("../../img/patterns/header-profile.png") no-repeat;
			> .user-image {
				> img {
					max-width: 45px;
					height: auto;
				}
			}
			> .user-info {
				display: block;
				> div {
					display: block;
				}
				.text-muted {
					color: #8095a8;
				}
			}
			> .logo-element {
				text-align: center;
				font-size: 18px;
				font-weight: 600;
				color: white;
				display: none;
				padding: 18px 0;
			}
		}
		> li.active {
			border-left: 4px solid #19aa8d;
			background: #293846;
			a {
				color: #ffffff;
			}
		}
	}
}

li.nav-first-level {
	a {
		color: #a7b1c2;
		font-weight: 600;
		padding: 14px 20px 14px 25px;
		> i {
			margin-right: 6px;
		}
		&:hover,
		&:focus {
			background-color: #293846;
			color: white;
		}
	}
	ul.nav-second-level {
		li {
			border-bottom: none !important;
			a {
				padding: 7px 10px 7px 10px;
				padding-left: 52px;
			}
			&:last-child {
				margin-bottom: 10px;
			}
			&.active {
				border: none;
			}
		}
	}
}

li.special-link {
	a {
		background: #1ab394;
		&:hover,
		&:focus {
			background: #17987e !important;
		}
		span.label {
			background: #fff;
			color: #1ab394;
		}
	}
}

li.landing-link {
	a {
		background: #1cc09f;
		&:hover,
		&:focus {
			background: #1ab394 !important;
		}
		&.span.label {
			background: #fff;
			color: #1cc09f;
		}
	}
}

// Mini Sidebar
.mini-sidebar {
	.sidebar();
	width: @mini-sidebar-width;
	height: @mini-sidebar-height;
	background-color: @mini-sidebar-bg-color;
	color: @mini-sidebar-color;
	.nav {
		> li.nav-header {
			padding: 0;
			background-color: #1ab394;
			> .logo-element {
				display: block;
			}
		}
		> li {
			> a {
				font-size: 16px;
				.nav-label,
				span {
					display: none;
				}
			}
			.nav-second-level {
				position: absolute;
				left: 70px;
				top: 0px;
				background-color: #2f4050;
				padding: 10px 10px 10px 10px;
				font-size: 12px;
				display: block;
				border-radius: 0;
				min-width: 140px;
				height: auto;
				li {
					&:last-child {
						margin-bottom: 10px;
					}
					a {
						font-size: 12px;
						border-radius: 3px;
						padding: 10px 10px 10px 15px;
					}
				}
			}
			&.active {
				> .nav-second-level {
					left: 65px;
				}
			}
		}
	}
}