<div class="container">

	<div class="row">
		<label class="label">User ID: </label>
		<span>{{mEmployee.UserID}}</span>
	</div>

	<div class="row">
		<label class="label">User ID: </label>
		<span>{{mEmployee.FirstName}}</span>
	</div>

	<div class="row">
		<label class="label">User ID: </label>
		<span>{{mEmployee.LastName}}</span>
	</div>

	<div class="row">
		<label class="label">User ID: </label>
		<span>{{mEmployee.City}}</span>
	</div>

	<div class="row">
		<button class="btn btn-default btn-sm" (click)="OnNavigate('/employee')">Back to Index</button>
	</div>
</div>