<div class="container">

	<div class="row">
		<label class="text-success text-center">{{mTitle}}</label>
		<label class="text-success text-center">{{mMessage}}</label>
	</div>

	<div class="row">
		<a [routerLink]="['/employee/create']">Create New</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>User ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>City</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let _item of mItems">
					<td>{{_item.UserID}}</td>
					<td>{{_item.FirstName}}</td>
					<td>{{_item.LastName}}</td>
					<td>{{_item.City}}</td>
					<td>
						<button class="btn btn-success btn-xs" (click)="OnNavigate('employee/details', _item)">Details</button>
						<button class="btn btn-default btn-xs" (click)="OnNavigate('employee/update', _item)">Edit</button>
						<button class="btn btn-danger btn-xs" (click)="OnDeleteRecord($event, _item)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>