<div class="container">
	<h1>{{mTitle}}</h1>

	<form *ngIf="mIsActive" (ngSubmit)="OnSubmitForm()" #_employeeform="ngForm">
		<div class="form-group">
			<label for="_userId">User ID</label>
			<input type="text" class="form-control" id="_userId"
				   required
				   [(ngModel)]="mItem.UserID" name="_userId" 
				   #_userId="ngModel"/>
			<div [hidden]="_userId.valid || _userId.pristine" class="alert alert-danger">
				User ID is required
			</div>
		</div>

		<div class="form-group">
			<label for="_firstname">User ID</label>
			<input type="text" class="form-control" id="_firstname"
				   required
				   [(ngModel)]="mItem.FirstName" name="_firstname"/>
		</div>

		<div class="form-group">
			<label for="_lastname">User ID</label>
			<input type="text" class="form-control" id="_lastname"
				   required
				   [(ngModel)]="mItem.LastName" name="_lastname"/>
		</div>

		<div class="form-group">
			<label for="_city">User ID</label>
			<input type="text" class="form-control" id="_city"
				   required
				   [(ngModel)]="mItem.City" name="_city"/>
		</div>

		<button type="submit" class="btn btn-default" [disabled]="!_employeeform.form.valid">Submit</button>
	</form>
</div>